@page "/tabcontrol"

<h3>Ejemplo de Tab Control</h3>

<TabControl>
    <Tab Title="Pestaña 1">
        <h4>Contenido Pestaña 1</h4>
        <p>Este es el contenido de la pestaña 1.</p>
    </Tab>
    <Tab Title="Pestaña 2">
        <h4>Contenido Pestaña 2</h4>
        <p>Este es el contenido de la pestaña 2.</p>
    </Tab>
    <Tab Title="Pestaña 3">
        <h4>Contenido Pestaña 3</h4>
        <p>Este es el contenido de la pestaña 3.</p>
    </Tab>
</TabControl>
